
<div id="avatar">
    <div class="box">
        <img src="images/avatar.jpg" />
    </div>
    
</div>

<div id="brief">
    <p> 程序媛一枚</p>
    <p>领域</p>
    <ul>
        <li>html,css,javascript</li>
        <li>vue2,angular1工作开发经验</li>
        <li>react,express，webpack,gulp浅实践</li>
        <li>node,python,react-native在学</li>
        <li>koa计划学</li>
    </ul>
    <p>社交</p>
    <ul>
        <li>GitHub：LRY1994</li>
        <li>微博：Linda0-0</li>
        <li>segmemtfault:lhttps://segmentfault.com/u/lady</li>
        <li>邮箱：949892801@qq.com</li>
    </ul>
</div>


